<?xml version="1.0" ?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dhlshippingsolutions">
            <group id="dhlpaket">
                <group id="checkout_settings">
                    <!-- Shipping Methods for DHL Shipping -->
                    <field id="methods_additional" translate="label tooltip comment" type="multiselect" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Additional Shipping Methods for DHL Paket</label>
                        <source_model>Magento\Shipping\Model\Config\Source\Allmethods</source_model>
                        <can_be_empty>1</can_be_empty>
                        <comment>Selected shipping methods will be processed with DHL Paket.</comment>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
